
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
   margin: 0;
   padding: 0;
}

nav{
   font-family: "Noto Sans", sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    background-color: black;
    height: 60px;
    list-style-type: none;
    color: white;
}

nav ul li{
    padding: 0px 12px;
}

.logo img{
    width: 48px;
    padding: 0px 8px;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.container{
    min-height: 66vh;
    background-color:black;
    color: white;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    font-family: "Varela Round", sans-serif;
    padding: 26px;
    background-image: url(wallpaper.jpg);
    
}

.songItemcontainer{
    margin-top: 55px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
}

.songItem img{
    width: 43px;
    margin: 0 20px;
    height: 40px;
    border-radius: 18px;
}

.timestamp{
    margin: 0 20px;
}

.timestamp i{
    cursor: pointer;
}

.bottom{
    position: sticky;
    background-color: black;
    color: white;
    height: 120px;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.icons{
    margin: 12px 0;
    cursor: pointer;
}

.songGIF{
    position: absolute;
    left: 10vw;
    font-family: "Varela Round", sans-serif;
}

.songGIF img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}


#myProgressbar{
    width: 80vw;
    cursor: pointer;
}